<% include ./partials/header.ejs %>

<div><a href="/user/<%= currentUser.id %>/exchange/new">Start a new exchange</a></div>

<h2>Exchanges you're in:</h2>
<% foundUser.joinedExchanges.forEach(function(exchange){ %>
    <h3><%= exchange.name %></h3>
    <div>Spend limit: <%= exchange.spendLimit %></div>
<% }); %>

<% include ./partials/footer.ejs %>