<% include ./partials/header.ejs %>

<div><a href="/user/<%= currentUser.id %>/exchange/new">Start a new exchange</a></div>

<h2>Exchanges you're in:</h2>
<%= currentUser.joinedExchanges %>

<% include ./partials/footer.ejs %>