<% include ./partials/header %>


<!-- Show each invitation -->
<% user.invitations.forEach( invite => { %>
    <li class='invitation' data-answer-url="/invitations/<%= currentUser._id %>/answer/<%= invite._id %>">
        Invitation from <%= invite.firstName %> <%= invite.lastName %>
        <!-- Need AJAX handling for each of these buttons -->
        <i id="invite-accept" class="fa fa-check btn-approve" aria-hidden="true"></i>
        <i id="invite-delete" class="fa fa-times btn-delete" aria-hidden="true"></i>
    </li>
<% }) %>

<% include ./partials/footer %>