<% include ./partials/header %>


<!-- Show each invitation -->
<% user.receivedInvitations.forEach( invite => { %>
    <li class='invitation' data-answer-url="/user/<%= currentUser._id %>/invitations/answer/<%= invite._id %>">
        Invitation from <%= invite.firstName %> <%= invite.lastName %>
        <!-- Clicking these buttons makes AJAX call -->
        <i id="invite-accept" class="fa fa-check btn-approve" aria-hidden="true"></i>
        <i id="invite-delete" class="fa fa-times btn-delete" aria-hidden="true"></i>
    </li>
<% }) %>

<% include ./partials/footer %>