<% include ./partials/header %>
<div id='landing-container'>
    
    <div id='landing-title'>Gift-o-matic</div>
    <div id="landing-icon"><i class="fas fa-gift"></i></div>

</div>

<% include ./partials/footer %>