<% include ./partials/header.ejs %>

<h2>Create a new gift exchange</h2>

<form id='exchange-setup' action="/user/<%= currentUser._id %>/exchange/addNew" method="POST">
    <label>
        Exchange name
        <input type="text" name="newExchange[name]">
    </label>
    <label>
        Spend limit
        <input type="number" name="newExchange[spendLimit]">
    </label>

    <!--    list of potential participants, taken from user's friends
            clicking on button next to participant will add user to
            exchange via js in ajax.js file.
    -->

    <h3>Add Users</h3>
    <div class="small-text">Click a user to add them to the exchange. Note: Users will only appear if you are friends with them.</div>
    <div id="exchange-participant-options"></div>
    <% foundUser.friends.forEach(function(friend){ %>
        <li class="exchange-friend-notAdded" data-participant-addButton-id="<%= friend._id %>">
            <%= friend.firstName %> <%= friend.lastName %>
        </li>
    <% }) %>
    </div>

    <h3>Exchange participants</h3>
    <div class="small-text">Click parcipants to remove them.</div>
    <div id="added-to-exchange">
    </div>

    <input type="submit">
</form>

<% include ./partials/footer.ejs %>