<% include ./partials/header %>

<% searchResults.forEach(function(user){ %>
    <div class='user-search-result'>
        <a href="/user/<%= user._id %>/lists/">
            <div class='user-result name'><%= user.firstName %> <%= user.lastName %></div>
        </a>
    </div>
<% }) %>

<% include ./partials/footer %>