<% include ./partials/header %>

Here are all the users, sorted in the most alphabetical of ways.

<% searchResults.forEach(function(user){ %>
    <div class='user-search-result'>
        <div class='user-result name'>
            <%= user.firstName %> <%= user.lastName %>
            <span data-route="/invitation/<%= user._id %>" class="btn send-friend-invite">Send friend invite</span>
        </div>
    </div>
<% }) %>

<% include ./partials/footer %>