/*
main orange: #ff7c1e
light orange: #ffc9a3

main blue: #44c0ff
light blue: #a3e0ff

main gray: #cccccc
light gray: #e2e2e2

darkred: #c62323
cream: #fffcf2
skyblue: #afe4ff
navy: #083851


font-family: 'Pattaya', sans-serif;

*/
:root {
    --primary-color: #083851;
    /* --primary-color: #07470d; */
    --secondary-color: #c62323;
    --cream: #fffcf2;
    --primary-light: #175475;
    /* --primary-light: #3e8746; */
    --main-font: Georgia;
    --approve-color: #0e5007;
    --reject-color: #db0d0d;
}



/* --------------  GENERAL ----------------*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--main-font);
    color: var(--primary-color);
    background-color: var(--cream);
}

.container-main {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.center-in-page {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: var(--primary-color);
    font-family: var(--main-font);
    color: var(--cream);
    border: none;
    padding: 3px;
    border-radius: 3px;
    display: inline;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-light);
}

.btn-delete {
    background-color: var(--reject-color);
    color: var(--cream);
    border: none;
    padding: 3px;
    border-radius: 3px;
    display: inline;
    cursor: pointer;
}

.btn-approve {
    background-color: var(--approve-color);
    color: var(--cream);
    border: none;
    padding: 3px;
    border-radius: 3px;
    display: inline;
    cursor: pointer;
}

pre {
    font-family: var(--main-font);
    padding: inherit;
    margin: inherit;
    line-height: inherit;
    white-space: pre-wrap;
}

.error-message{
    color: #ce1212;
}

.section-title {
    font-size: 1.3em;
    font-weight: bold;
}

.small-text {
    font-size: 0.75em;
    font-weight: normal;
}

/* ----------- HEADER ------------------- */

header {
    background-color: var(--primary-color);
    color: var(--cream);
    padding: 10px;
    font-family: 'Pattaya', sans-serif;
    font-size: 1.2em;
}

a {
    text-decoration: none;
    color: inherit;
}

.gifto-logo{
    height: 5px;
    width: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav li {
    text-decoration: none;
    color: inherit;
    margin:0 10px;
    list-style-type: none;
    opacity: 1;
}

.navbar-button:hover {
    opacity: 0.8;
}

#nav-right {
    display: flex;
}

#navbar-icon {
    color: var(--secondary-color);
}

/*--------------- FOOTER ---------------------- */
#footer-container {
    text-align: center;
}

#footer {
    font-size: 8pt;
    color: var(--primary-color);
    display: inline;
    border-radius: 3px;
}

/* --------------  LANDING PAGE  ----------------*/

#landing-container {
    text-align: center;
    margin-top: 20vh;
}

#landing-title{
    font-family: 'Pattaya', sans-serif;
    font-size: 5em;
    text-align: center;
    color: var(--primary-color);
}

#landing-icon {
    font-size: 5em;
    color: var(--secondary-color);
}

/* --------------  USER HOME PAGE  ----------------*/

#user-page-option-container{
    display: flex;
    flex-wrap: wrap;
}

.user-page-option{
    width: 200px;
    background-color: var(--primary-color);
    color: var(--cream);
    margin: 5px;
    text-align: center;
    display:block;
    padding: 5px;
    border-radius: 3px;
    font-size: 1.2em;
}

.user-page-option:hover {
    background-color: var(--primary-light);
}

/* --------------  WISHLIST LIST PAGE  ----------------*/

.wishlist {
    background-color: var(--primary-color);
    color: var(--cream);
    border-radius: 3px;
    margin: 3px;
}
.wishlist:hover {
    background-color: var(--primary-light);
}

#delete-button-form {
    margin-bottom: 0em;
}

/* --------------  WISHLIST ITEM LIST PAGE  ----------------*/

#item-info {
    margin-top: 20px;
}

#new-item-form {
    display:none;
}

.wishlist-item {
    margin: 10px;
    padding: 10px;
    background-color: #dbf0ff;
    border-radius: 3px;
}

.wishlist-item:hover {
    background-color: #cde4f4;
}

.wishlist-title {
    font-size: 1.2em;
}

#item-status-form {
    color: white;
    margin: 5px;
}

.item-status-button {
    padding: 3px;
    border-radius: 3px;
    background-color: #d8d8d8;
    cursor: pointer;
}

/*.item-status-button:hover {*/
/*    background-color: #c8c8c8;*/
/*}*/

.selected{
    background-color: var(--primary-color);
}

#claimed-by {
    color: var(--primary-light);
    font-size: .7em;
}

#comments-section {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.comment-author {
    font-size: 0.8em;
    color: var(--primary-light);
}

.show-item-comment {
    margin: 5px 0;
    background-color: #e5e5e5;
    padding: 3px;
    border-radius: 3px;
}

#add-comment-btn {
    display: block;
}

/* --------------  WISHLIST NEW PAGE  ----------------*/
.input-new {
    display: block;
    margin: 5px;
}

/* --------------  ITEM PAGE  ----------------*/

/* --------------  SEARCH PAGE  ----------------*/
.user-search-result{
    margin-top: 5px;
}

.user-result-name {
    font-size: 1.2em;
}

/* --------------  INVITATION PAGE  ----------------*/

.invitation {
    margin-top: 5px;
}

/* --------------  EXCHANGE PAGE  ----------------*/

.exchange-display {
    margin: 10px;
}

/* --------------  EXCHANGE CREATION PAGE  ----------------*/

.exchange-friend-notAdded, .exchange-friend-added {
    cursor: pointer;
}