/* --------------  GENERAL ----------------*/

body {
    font-family: Arial;
}

a {
    color: black;
    text-decoration: none;
}

.btn {
    background-color: #007bd1;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 3px;
    display: inline;
}

.btn:hover{
    background-color: #0096ff;
}

.btn-delete {
    background-color: #b74b40;
}

/* ----------- HEADER ------------------- */

header {
    background-color: black;
    color: white;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

.gifto-logo{
    height: 5px;
    width: 5px;
}

/*--------------- FOOTER ---------------------- */
#footer-container {
    text-align: center;
    margin-top: 50px;
}

#footer {
    font-size: 8pt;
    color: white;
    background-color: #f9f9f9;
    padding: 5px;
    display: inline;
    border-radius: 3px;
}

/* --------------  LANDING PAGE  ----------------*/

#landing-container {
    text-align: center;
}

#landing-title{
    font-size: 50pt;
    text-align: center;
}

#giftomatic-logo {
    height: 100px;
    width: 100px;
}

#skull-landing{
    margin: 0 auto;
    animation-name: skullSpin;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes skullSpin{
    0%{
        transform: rotate(0deg) scale(1);
    }
    50%{
        transform: rotate(180deg) scale(1.3);
    }
    100%{
        transform: rotate(360deg) scale(1);
    }
}

/* --------------  WISHLIST LIST PAGE  ----------------*/

.wishlist {
    background-color: #eaeaea;
    border-radius: 3px;
    margin: 3px;
}
.wishlist:hover {
    background-color: #e5e5e5;
}

/* --------------  WISHLIST ITEM LIST PAGE  ----------------*/

#new-item-form {
    display:none;
}

.wishlist-item {
    margin: 10px;
    padding: 10px;
    background-color: #dbf0ff;
    border-radius: 3px;
}

.wishlist-item:hover {
    background-color: #cde4f4;
}

.wishlist-title {
    font-size: 1.2em;
}

.purchaseStatus {
    border-radius: 3px;
    padding: 2px;
    color: white;
}

.open {
    background-color: #70d10f;
}

.claimed {
    background-color: #d1ad0f;
}

.purchased {
    background-color: #d10f0f;
}

/* --------------  WISHLIST NEW PAGE  ----------------*/
.input-new {
    display: block;
    margin: 5px;
}

/* --------------  ITEM PAGE  ----------------*/
