<% include ./partials/header %>

<div>Welcome to...</div>
<div id="landing-title">GIFT-O-MATIC</div>

<img id='skull-landing' src='skull.png'>

<a href='/register'>Register</a>

<% include ./partials/footer %>