<% include ./partials/header %>
<div id='landing-container'>
    
    <div id="landing-title">GIFT-O-MATIC</div>

    <img id='gifotmatic-logo' src='gifto_logo.svg'>
</div>

<% include ./partials/footer %>