<% include ./partials/header %>

<div class='show-item-title'><%= item.name %></div>
<div class='show-item-price'><%= item.price %></div>
<div class='show-item-purchaseStatus'><%= item.purchaseStatus %></div>
<div class='show-item-notes'><%= item.notes %></div>
<button class='show-item-delete'>Delete</button>

<% include ./partials/footer %>