<% include ./partials/header.ejs %>

<h1><%= user.firstName %> <%= user.lastName %></h1>

<div>My lists</div>
<div>Add a list</div>
<div>Search for friends</div>
<div>Updates</div>

<% include ./partials/footer.ejs %>