  <!-- jQuery CDN -->
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  
  <!-- AJAX file -->
  <script src='/ajax.js'></script>
<div id='footer-container'>
  <span id='footer'>A joint venture of Arx-ENDARP Research Group and DeepNight Military Security Consultants</span>
</div>
</body>
</html>