<html>
<head>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>  
<body>
<header>
    <% if(!currentUser){ %>
        <a href='/register'>Register</a>
        <a href='/login'>Login</a>
    <% } else { %>
        Hello, <%= currentUser.firstName %>
        <a href='/logout'>Logout</a>
    <% } %>
</header>